.container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 16px;
    background-color: var(--background-color);
    color: var(--text-color);
}

.title {
    margin: 100px 20px 50px 20px;
    font-size: 3rem;
    font-family: var(--fontFamily1);
    letter-spacing: 0.3rem;
}

.question {
    font-size: 2rem;
    font-family: var(--fontFamily2);
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.solution {
    font-size: 2rem;
    font-family: var(--fontFamily3);
    color: var(--text-details-color);
    font-weight: bold;
    letter-spacing: 0.3rem;
}

.detail {
    color: var(--details-color);
}

.categories-container {
    margin: 80px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 70vw;
}

.excuse-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--details-color);
    border-radius: 10px;
    width: 70vw;
    min-height: 20vh;
}

.excuse {
    font-size: 2.3rem;
    color: var(--text-details-color);
}

.hidden {
    visibility: hidden;
}

p {
    margin: 10px 20px;
}

@media (max-width: 1450px){
    .excuse-container{
        width: 80vw;
    }
    .categoies-container{
        width: 80vw;
    }
}